<div class="content">
  <div *nzModalTitle>
    <span>{{ 'model.user.changePasswordTitle' | translate }}</span>
  </div>
  <div class="row">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-12 mb-2">
            <label>{{ 'model.user.password' | translate }} <span class="text-danger">*</span></label>
            <nz-input-group [nzSuffix]="passwordTemplate1">
              <input formControlName="password" nz-input [maxLength]="LENGTH_VALIDATOR.PASSWORD_MAX_LENGTH.MAX"
                     class=""
                     [type]="passwordVisible ? 'text' : 'password'"
                     placeholder="{{ 'model.user.enterPassword' | translate }}"
              />
            </nz-input-group>
            <ng-template #passwordTemplate1>
              <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                 (click)="passwordVisible = !passwordVisible"></i>
            </ng-template>
            <ng-container *ngIf="form.get('password')?.touched || form.get('password')?.dirty">
              <span class="text-danger" *ngIf="form.get('password')?.hasError('required')">
                <small>{{ 'common.required' | translate }}</small>
              </span>
              <span class="text-danger" *ngIf="form.get('password')?.hasError('pattern')">
                <small>{{ 'common.pattern' | translate }}</small>
              </span>
            </ng-container>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-2">
            <label>{{ 'model.user.repeatPassword' | translate }} <span class="text-danger">*</span></label>
            <nz-input-group [nzSuffix]="passwordTemplate">
              <input formControlName="repeatPassword" nz-input [maxLength]="LENGTH_VALIDATOR.PASSWORD_MAX_LENGTH.MAX"
                     class=""
                     [type]="rePasswordVisible ? 'text' : 'password'"
                     placeholder="{{ 'model.user.enterPasswordAgain' | translate }}"
              />
            </nz-input-group>
            <ng-template #passwordTemplate>
              <i nz-icon [nzType]="rePasswordVisible ? 'eye-invisible' : 'eye'"
                 (click)="rePasswordVisible = !rePasswordVisible"></i>
            </ng-template>
            <ng-container *ngIf="form.get('repeatPassword')?.touched || form.get('repeatPassword')?.dirty">
              <span class="text-danger" *ngIf="form.get('repeatPassword')?.hasError('required')">
                <small>{{ 'common.required' | translate }}</small>
              </span>
              <span class="text-danger" *ngIf="form.get('repeatPassword')?.hasError('pattern')">
                <small>{{ 'common.pattern' | translate }}</small>
              </span>
              <span class="text-danger" *ngIf="f.repeatPassword.errors?.matching">
                <small>{{ 'model.user.error.notMatch' | translate }}</small>
              </span>
            </ng-container>
          </div>
        </div>
      </form>
  </div>
  <div class="row">
    <div class="col-12 text-center" *nzModalFooter>
      <button nz-button nzType="default" (click)="onCancel()">
        {{ 'action.cancel' | translate }}
      </button>
      <button nz-button nzType="primary"
      [disabled]="!form.valid"
      (click)="onSubmit()">
        {{ 'action.save' | translate }}
      </button>
    </div>
  </div>
</div>
