.btn-delete {
  border: solid 1px #ff0000;
  color: #ff0000;
}

.action-min-width {
  min-width: 160px;
}

.action {
  border-radius: 8px;
  padding: 5px;
  background: #FAFBFD;
  border: 0.6px solid #CECECE;
  min-width: 0px;
  height: 35px;
}
