.btn-detail:hover {
    //border-color: #436fe3;
    color: #436fe3;
    text-decoration: underline;
}

.btn-detail{
  padding: 10px 2px;
  height: 100%;
  width: 100%;
  text-align: left;
}

.color-black {
  color: black;
}
