<mb-table-title [showBack]="true" [title]="!!this.unitDetail ?'model.unit.detail.title': 'model.unit.createUnit'">
</mb-table-title>
<section class="content mt-3 pt-1">
  <nz-tabset>
    <!--    Thông tin chung -->
    <nz-tab [nzTitle]="'model.building.detail.information' | translate">
      <div class="row">
        <div class="col-12">
          <form [formGroup]="form">
            <div class="row mt-2">
              <div class="col-6 mb-2">
                <label>{{ "model.unit.building" | translate }}
                  <span class="text-danger">*</span></label>
                <nz-select nzShowSearch formControlName="buildingId" nzPlaceHolder="{{
                    'model.building.enterBuildingCode' | translate
                  }}" [nzShowArrow]="false" (ngModelChange)="selectBuilding($event)" nzServerSearch
                  (nzOnSearch)="loadDataBuilding($event)">
                  <!--                  debounceKeyUp removeOptionTitle-->
                  <!--                  (onEvent)="loadDataBuilding($event.target?.value)">-->
                  <nz-option *ngFor="let b of buildingList" [nzCustomContent]="true" nzLabel="{{b.code}} - {{b.name}}"
                    [nzDisabled]="buildingStatus.INACTIVE.value == b.status " [nzValue]="b.id">
                    <div container="body" [animation]="false" [openDelay]="100" [closeDelay]="0"
                      [ngbTooltip]="b.code + ' - ' + b.name">{{b.code}} - {{b.name}}</div>
                  </nz-option>
                </nz-select>
                <ng-container *ngIf="
                    form.get('buildingId')?.touched ||
                    form.get('buildingId')?.dirty
                  ">
                  <span class="text-danger" *ngIf="form.get('buildingId')?.hasError('required')">
                    <small>{{
                      this.getTranslate("error.buildingIsRequired")
                      }}</small>
                  </span>
                </ng-container>
              </div>
              <div class="col-6 mb-2">
                <label>{{ "model.unit.floor" | translate }}
                  <span class="text-danger">*</span></label>
                <nz-select nzShowSearch nzServerSearch formControlName="floorId"
                  nzPlaceHolder="{{ 'model.floor.enterFloor' | translate }}" [nzShowArrow]="false" debounceKeyUp
                  removeOptionTitle (onEvent)="searchFloor($event.target?.value)"
                  (ngModelChange)="this.selectFloor($event)">
                  <nz-option *ngFor="let b of floorList" [nzCustomContent]="true" [nzDisabled]="b.availableArea == 0"
                    nzLabel="{{ b.name }} ({{
                      ('model.unit.available' | translate) +
                        ' ' +
                        b.availableArea?.toFixed(2)?.toString() +
                        ' m2 '
                    }})" [nzValue]="b.id">
                    <div container="body" [animation]="false" [openDelay]="100" [closeDelay]="0"
                      ngbTooltip="{{b.name}} ({{('model.unit.available'| translate) +' '+  b.availableArea?.toFixed(2)?.toString() +' m2 '}})">
                      {{b.name}} ({{('model.unit.available'| translate) +' '+ b.availableArea?.toFixed(2)?.toString() +'
                      m2 '}})
                    </div>
                  </nz-option>
                </nz-select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-6 mb-2">
                <label>{{ getTranslate("area") }}
                  <span class="text-danger">* </span>
                  <span>(m <sup>2</sup>)</span>
                </label>
                <input nz-input [maxValue]="maxAreaAvailable" (onMaxValue)="onMaxValueArea($event)" appDecimalFormatter
                  formControlName="area" placeholder="{{ getTranslate('enterArea') }}" required />
                <ng-container *ngIf="form.get('area')?.touched || form.get('area')?.dirty">
                  <span class="text-danger" *ngIf="form.get('area')?.hasError('required')">
                    <mb-not-blank [value]="'model.unit.area'"></mb-not-blank>
                  </span>
                  <span class="text-danger" *ngIf="form.get('area')?.hasError('max')">
                    <small>{{
                      "model.unit.error.areaNotEnough" | translate
                      }}</small>
                  </span>
                  <span class="text-danger" *ngIf="form.get('area')?.hasError('min')">
                    <small>{{ "model.unit.error.areaMin" | translate }}</small>
                  </span>
                </ng-container>
              </div>
              <div class="col-6 mb-2">
                <div class="">
                  <label>{{ getTranslate("price") }} </label>
                  <input nz-input appNumberFormatter [maxValue]="this.maxPrice"
                    (onMaxValue)="this.onMaxValuePrice($event)" formControlName="price"
                    placeholder="{{ getTranslate('enterPrice') }}" />
                </div>
                <ng-container *ngIf="form.get('price')?.touched || form.get('price')?.dirty">
                  <span class="text-danger" *ngIf="form.get('price')?.hasError('min')">
                    <small>{{
                      "model.unit.error.minPrice" | translate
                      }}</small>
                  </span>
                </ng-container>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-6 mb-2">
                <label>{{ "model.unit.type" | translate
                  }}<span class="text-danger">*</span></label>
                <nz-select nzShowSearch nzServerSearch removeOptionTitle formControlName="type"
                  nzPlaceHolder="{{ 'model.unit.selectType' | translate }}" [nzShowArrow]="false">
                  <nz-option *ngFor="let t of unitTypeList" [nzCustomContent]="true" nzLabel="{{t.label | translate}}"
                    [nzValue]="t.value">
                    <div container="body" [animation]="false" [openDelay]="100" [closeDelay]="0"
                      ngbTooltip="{{t.label | translate}}">{{t.label | translate}}</div>
                  </nz-option>
                </nz-select>
                <ng-container *ngIf="form.get('type')?.touched || form.get('type')?.dirty">
                  <span class="text-danger" *ngIf="form.get('type')?.hasError('required')">
                    <small>{{
                      this.getTranslate("error.unitTypeIsRequired")
                      }}</small>
                  </span>
                </ng-container>
              </div>
              <div class="col-6 mb-2">
                <label>{{ "model.unit.status" | translate
                  }}<span class="text-danger">*</span></label>
                <!--                  {{this.form.get('status')?.value}}-->
                <div>
                  <mb-badge class="custom-badge" [color]="format().sClass" [text]="format().text">
                  </mb-badge>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col mb-2">
                <label>{{ "common.note" | translate }}</label>
                <textarea rows="5" [ngClass]="form.get('note')?.disabled ? 'disabled' : ''" formControlName="note"
                  placeholder="{{ 'common.note' | translate }}" nz-input>
                </textarea>
                <ng-container *ngIf="form.get('note')?.touched || form.get('note')?.dirty">
                  <span class="text-danger" *ngIf="form.get('note')?.hasError('maxlength')">
                    <small>{{
                      this.getTranslate("error.noteMaxlength")
                      }}</small>
                  </span>
                </ng-container>
              </div>
            </div>

            <div class="row mt-2" *ngIf="!this.isDetail">
              <div class="uFooter-button unit">
                <button nz-button nzType="default" class="btn-action mr-2" (click)="cancel()">
                  {{ "action.cancel" | translate }}
                </button>
                <button class="btn-action" *ngIf="!isEdit; else isUpload" nz-button nzType="primary"
                  [disabled]="this.form.invalid" (click)="onCreate()">
                  {{ "action.save" | translate }}
                </button>
                <ng-template #isUpload>
                  <button class="btn-action" [disabled]="this.form.invalid" nz-button nzType="primary"
                    (click)="onUpdate()">
                    {{ "action.update" | translate }}
                  </button>
                </ng-template>
              </div>
            </div>
          </form>
        </div>
      </div>
    </nz-tab>

    <!--    Thông tin ban quản lý tòa nhà -->
    <nz-tab [nzTitle]="this.getTranslate('unitManager')" [nzDisabled]="!this.unitId">
      <app-building-management-info *ngIf="!!this.unitDetail.buildingId" [buildingId]="this.unitDetail.buildingId">
      </app-building-management-info>
    </nz-tab>
  </nz-tabset>
</section>
