.div {
  text-align-last: center;
}
.w-stt {
  width: 2em;
}
.floor-action{
  width: 8rem !important;
}
.col-availableArea{
  min-width: 10rem;
}
.col-floorName{
  width: 20rem;
  max-width: 20rem !important;
}
