<div class="content">
  <div *nzModalTitle>
    <span>{{ 'model.role.choosePermission' | translate }} {{roleName}}</span>
  </div>
  <div class="row">
      <nz-collapse [nzExpandIconPosition]='"right"'  [nzBordered]="false">
        <nz-collapse-panel
          #p
          *ngFor="let item of rolePermissions, let isFirst = first"
          [nzActive]="active"
          [nzHeader]="item.per[0].resourceName"
          class="customStyle"
          [nzExpandedIcon]="expandedIcon"
        >
          <div *ngFor="let per of item.per">
            <div class="row subLabel">
              <div class="col-11">
                <span class="text-span">{{per.name}}</span>
              </div>
              <div class="col-1">
                  <nz-switch nzSize="small"
                  (click)="changeCheckPermission(per)"
                  [ngModel]="per.checked"
                  ></nz-switch>
              </div>
              <hr class="custom-hr">
            </div>
          </div>
          <ng-template #expandedIcon let-active>
            {{ active }}
            <i nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></i>
          </ng-template>
        </nz-collapse-panel>
      </nz-collapse>
  </div>
  <div class="row">
    <div class="col-12 mb-3 text-center" *nzModalFooter>
      <button class="mr-2" nz-button nzType="default" (click)="onCancel()">
        {{ 'action.close' | translate }}
      </button>
      <button nz-button nzType="primary" (click)="updatePermission()" *hasRoles="['role:update']">
        {{ 'action.save' | translate }}
      </button>
    </div>
  </div>
</div>

